
ul.modelcars {
    display: block;
    text-align: center;
    margin-bottom: 40px;
}

ul.modelcars li {
    display: inline-block;
    text-align: left;
    width: 300px;
    vertical-align: top;
}

img.photocar {
    display: block;
    width: 250px;
}

.checkbox {
    width: 30px;
    height: 30px;
    border: 1px solid #1b357e;
}

.infocar div {
    display: inline-block;
}

.info {
    width: 200px;
    vertical-align: top;
}

.textmodel {
    display: block;
    text-align: left;
    font-size: 14px;
    color: #1351d8;
    
}
.textprice {
    display: block;
    text-align: left;
    font-size: 10px;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    margin-bottom: 10px;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }

  td:nth-child(1) {  
    font-weight: 700;
    width: 40%;
  }

  td.destaque-coluna {
    font-weight: 700;
    width: 40%;
}

  tr:nth-child(even) {background-color: #f2f2f2;}

  div#compare {
    position: fixed; /* Fixo na tela, mesmo com scroll */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza precisamente */
    width: 50vw; /* Largura responsiva */
    max-width: 800px;
    min-width: 400px;
    height: 80vh; /* Altura responsiva */
    max-height: 700px;
    min-height: 350px;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.34); /* Sombra suave */
    display: none; /* Inicialmente oculto */
    overflow-y: auto; /* Adicione scroll se o conteúdo for muito longo */
    z-index: 1000; /* Garante que fique acima de outros elementos */
}
